<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/menu') -%>
    <main>
      <div class="d-flex justify-content-between align-items-center">
        <div>Produtos...</div>
        <div><a href="/produtos/novo">Novo</a></div>
      </div>
      <br>
      <table>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Valor</th>
          <th>Visível</th>
          <th>Ações</th>
        </tr>
        <% for (let produto of produtos) { %>
        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nome %></td>
          <td><%= produto.valor %></td>
          <td><%= produto.visivel %></td>
          <td>
            <a href="/produtos/editar?id=<%= produto.id %>"> Editar </a>
            <a onclick="confirmarExclusao('<%= produto.id %>')"> Excluir </a>
          </td>
        </tr>
        <% } %>
      </table>
    </main>
    <script>
      function confirmarExclusao(id) {
        let confirmado = confirm("Deseja realmente excluir o produto?");
        if (confirmado) {
          window.location.replace(`/produtos/excluir?id=${id}`);
        }
      }
    </script>
  </body>
</html>
